# Ignore editors and OS files
.DS_Store
.idea

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
composer.lock

# Managed by Composer
/bin/*
!bin/console

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> bamarni/composer-bin-plugin ###
/vendor-bin/**/vendor/
###< bamarni/composer-bin-plugin ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###