# https://phpstan.org/blog/phpstan-2-0-released-level-10-elephpants
# https://phpstan.org/config-reference#bleeding-edge
# https://phpstan.org/blog/what-is-bleeding-edge
# comment the two following lines if you don't want to use the bleedingEdge mode.
includes:
    - extension.neon
    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon
#    - vendor/symplify/phpstan-rules/config/static-rules.neon --- CHANGE BY LINE BY LINE RULES UNTIL FIXED

    # project specific
    - vendor/symplify/phpstan-rules/config/rector-rules.neon

    - phar://phpstan.phar/conf/bleedingEdge.neon
# https://phpstan.org/config-reference

rules:
    - Symplify\PHPStanRules\Rules\ForbiddenExtendOfNonAbstractClassRule
    - Symplify\PHPStanRules\Rules\NoGlobalConstRule

    # domain
    - Symplify\PHPStanRules\Rules\Domain\RequireExceptionNamespaceRule
    - Symplify\PHPStanRules\Rules\Domain\RequireAttributeNamespaceRule
    - Symplify\PHPStanRules\Rules\CheckRequiredInterfaceInContractNamespaceRule
    - Symplify\PHPStanRules\Rules\RequireAttributeNameRule

    - Symplify\PHPStanRules\Rules\Enum\RequireUniqueEnumConstantRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

    - Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule
#    - Symplify\PHPStanRules\Rules\NoReferenceRule # CRASH because of https://github.com/symplify/phpstan-rules/issues/263
    - Symplify\PHPStanRules\Rules\ForbiddenStaticClassConstFetchRule
    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule

    # docblock
    - Symplify\PHPStanRules\Rules\NoMissnamedDocTagRule

parameters:
    # https://phpstan.org/config-reference#rule-level
    level: max
    # https://phpstan.org/config-reference#multiple-files
    paths:
        - src
        - tests
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    # https://phpstan.org/user-guide/ignoring-errors
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    checkMissingCallableSignature: true
    ignoreErrors:
        #- '#my_ignore_error_regexp_pattern#'
        -
            identifier: symplify.forbiddenNode
        -
            identifier: symplify.requireAttributeName
        -
            identifier: trait.unused
        -
            identifiers:
                - isset.offset
                - booleanAnd.alwaysFalse
                - booleanAnd.alwaysTrue
                - varTag.type
                - rector.noInstanceOfStaticReflection
                - instanceof.alwaysFalse
                - instanceof.alwaysTrue
            path: src/Traits/AsValuableEnumTrait.php
        -
            identifiers:
                - isset.offset
                - booleanAnd.alwaysFalse
                - booleanAnd.alwaysTrue
                - rector.noInstanceOfStaticReflection
                - instanceof.alwaysFalse
                - instanceof.alwaysTrue
            path: src/Traits/AsSelectableEnumTrait.php
        -
            identifiers:
                - rector.noInstanceOfStaticReflection
                - instanceof.alwaysTrue
                - instanceof.alwaysFalse
                - symplify.forbiddenStaticClassConstFetch
                - return.type
            path: src/Traits/AsInvocableEnumTrait.php
        -
            identifier: identical.alwaysFalse
            path: src/Traits/AsStringSelectableEnumTrait.php
        -
            identifier: varTag.type
            path: src/Traits/AsNameableEnumTrait.php


